.title{
    display: flex;
    flex-direction: column;
}
.books{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.book{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}
button{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 18px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.delete{
    color: red;
}
.link{
    text-decoration: none;
    color: #000;
    font-style: bold;
}

.link:hover{
    color: black;
}
.submit{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 18px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.options{
    display: flex;
    justify-content: space-between;
}
.update{
    color: green;
    background-color: #000;
}
